*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
#canvasholder{
    background-color: black;
    height: 100%;
    width: 100%;
    position: relative;
}
#gamewindow {
    position: absolute;
    left: calc(50% - 640px);
    width: 1280px;
    height: 720px;
    border: 1px solid red;
    /* aspect-ratio: 16/9; */
}
/* .is169 {
    height: 90%;
}
.isnot169 {
    width: 90%;
} */